@font-face {
  font-family: 'Avenir Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
  font-family: 'Avenir Italic';
  src: url('../fonts/AvenirNextLTPro-It.otf');
}


@font-face {
  font-family: 'Avenir Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
}
